span[class~="deck"]{
    color: purple;
}

div[id]{
    background: grey;
}

a[title]{
    color: red;
}

a[title="Serch engine"]{
    color: green;
}

a[href$="pdf"]{
    color: yellow;
}

a[href^="http"]{
    color: pink;
}
