#banner{
    background-color: #606060;
    width: 100%;
    height: 300px;
    background-image: url(http://clipart-library.com/newimages/leaf-clip-art-7.gif), url(http://clipart-library.com/newimages/leaf-clip-art-21.png);
    background-repeat: no-repeat, no-repeat;
    /*background-repeat: no-repeat; - to samo co wyżej*/
    background-position: center, top left;
    background-size: 250px, 100% ;
}

/*
 http://clipart-library.com/newimages/leaf-clip-art-7.gif

 http://clipart-library.com/newimages/leaf-clip-art-21.png

*/